<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-heading" data-cy="EventCreateUpdateHeading" jhiTranslate="backendApp.event.home.createOrEditLabel">
        Crear o editar Event
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="backendApp.event.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let eventIdRef = editForm.get('eventId')!;
        <div class="mb-3">
          <label class="form-label" for="field_eventId" jhiTranslate="backendApp.event.eventId">Event Id</label>
          <input type="number" class="form-control" name="eventId" id="field_eventId" data-cy="eventId" formControlName="eventId" />
          @if (eventIdRef.invalid && (eventIdRef.dirty || eventIdRef.touched)) {
            <div>
              @if (editForm.get('eventId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('eventId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let titleRef = editForm.get('title')!;
        <div class="mb-3">
          <label class="form-label" for="field_title" jhiTranslate="backendApp.event.title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (titleRef.invalid && (titleRef.dirty || titleRef.touched)) {
            <div>
              @if (editForm.get('title')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_subtitle" jhiTranslate="backendApp.event.subtitle">Subtitle</label>
          <input type="text" class="form-control" name="subtitle" id="field_subtitle" data-cy="subtitle" formControlName="subtitle" />
        </div>

        @let fechaRef = editForm.get('fecha')!;
        <div class="mb-3">
          <label class="form-label" for="field_fecha" jhiTranslate="backendApp.event.fecha">Fecha</label>
          <div class="d-flex">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="datetime-local"
              class="form-control"
              name="fecha"
              formControlName="fecha"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (fechaRef.invalid && (fechaRef.dirty || fechaRef.touched)) {
            <div>
              @if (editForm.get('fecha')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('fecha')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descripcion" jhiTranslate="backendApp.event.descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        @let filasRef = editForm.get('filas')!;
        <div class="mb-3">
          <label class="form-label" for="field_filas" jhiTranslate="backendApp.event.filas">Filas</label>
          <input type="number" class="form-control" name="filas" id="field_filas" data-cy="filas" formControlName="filas" />
          @if (filasRef.invalid && (filasRef.dirty || filasRef.touched)) {
            <div>
              @if (editForm.get('filas')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('filas')?.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let columnasRef = editForm.get('columnas')!;
        <div class="mb-3">
          <label class="form-label" for="field_columnas" jhiTranslate="backendApp.event.columnas">Columnas</label>
          <input type="number" class="form-control" name="columnas" id="field_columnas" data-cy="columnas" formControlName="columnas" />
          @if (columnasRef.invalid && (columnasRef.dirty || columnasRef.touched)) {
            <div>
              @if (editForm.get('columnas')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('columnas')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tipoEvento" jhiTranslate="backendApp.event.tipoEvento">Tipo Evento</label>
          <input
            type="text"
            class="form-control"
            name="tipoEvento"
            id="field_tipoEvento"
            data-cy="tipoEvento"
            formControlName="tipoEvento"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
