<div>
  <h2 id="page-heading" data-cy="SaleHeading">
    <span jhiTranslate="backendApp.sale.home.title">Sales</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="backendApp.sale.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sale"
        [routerLink]="['/sale/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="backendApp.sale.home.createLabel">Crear nuevo Sale</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (sales().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="backendApp.sale.home.notFound">Ningún Sales encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ventaId">
              <div class="d-flex">
                <span jhiTranslate="backendApp.sale.ventaId">Venta Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="eventId">
              <div class="d-flex">
                <span jhiTranslate="backendApp.sale.eventId">Event Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fechaVenta">
              <div class="d-flex">
                <span jhiTranslate="backendApp.sale.fechaVenta">Fecha Venta</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="asientos">
              <div class="d-flex">
                <span jhiTranslate="backendApp.sale.asientos">Asientos</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombres">
              <div class="d-flex">
                <span jhiTranslate="backendApp.sale.nombres">Nombres</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="total">
              <div class="d-flex">
                <span jhiTranslate="backendApp.sale.total">Total</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estado">
              <div class="d-flex">
                <span jhiTranslate="backendApp.sale.estado">Estado</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sale of sales(); track trackId(sale)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/sale', sale.id, 'view']">{{ sale.id }}</a>
              </td>
              <td>{{ sale.ventaId }}</td>
              <td>{{ sale.eventId }}</td>
              <td>{{ sale.fechaVenta | formatMediumDatetime }}</td>
              <td>{{ sale.asientos }}</td>
              <td>{{ sale.nombres }}</td>
              <td>{{ sale.total }}</td>
              <td>{{ sale.estado }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/sale', sale.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/sale', sale.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(sale)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (sales().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
