<div>
  <h2 id="page-heading" data-cy="EventHeading">
    <span jhiTranslate="backendApp.event.home.title">Events</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="backendApp.event.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-event"
        [routerLink]="['/event/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="backendApp.event.home.createLabel">Crear nuevo Event</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (events().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="backendApp.event.home.notFound">Ningún Events encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="eventId">
              <div class="d-flex">
                <span jhiTranslate="backendApp.event.eventId">Event Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="backendApp.event.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="subtitle">
              <div class="d-flex">
                <span jhiTranslate="backendApp.event.subtitle">Subtitle</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fecha">
              <div class="d-flex">
                <span jhiTranslate="backendApp.event.fecha">Fecha</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descripcion">
              <div class="d-flex">
                <span jhiTranslate="backendApp.event.descripcion">Descripcion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="filas">
              <div class="d-flex">
                <span jhiTranslate="backendApp.event.filas">Filas</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="columnas">
              <div class="d-flex">
                <span jhiTranslate="backendApp.event.columnas">Columnas</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tipoEvento">
              <div class="d-flex">
                <span jhiTranslate="backendApp.event.tipoEvento">Tipo Evento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (event of events(); track trackId(event)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/event', event.id, 'view']">{{ event.id }}</a>
              </td>
              <td>{{ event.eventId }}</td>
              <td>{{ event.title }}</td>
              <td>{{ event.subtitle }}</td>
              <td>{{ event.fecha | formatMediumDatetime }}</td>
              <td>{{ event.descripcion }}</td>
              <td>{{ event.filas }}</td>
              <td>{{ event.columnas }}</td>
              <td>{{ event.tipoEvento }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/event', event.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/event', event.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(event)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (events().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
